@keyframes shimmerAnimation {
    0% {
      background-position: -200px 0;
    }
    100% {
      background-position: 200px 0;
    }
  }

  
.ShimmerCard{
    width: 300px;
    height: 200px;
    gap: 20px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align:start;
    img{
        width: 100%;
        border-radius: 20px;
        height: 200px;
        padding-bottom: 20px;
        cursor: pointer;
    }
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmerAnimation 1.5s infinite linear;
    margin:20px
}

// .ShimmerCard{
//     height: 200px;
//     width: 200px;
//     background: grey;
//     // margin:20px
// }