.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 12px;
  text-align: center;
  height: 100vh;
  width: 100%;

  .anim {
    /* outline-style: dotted; */
    display: flex;
    width: 180px;
    height: 180px;
    justify-content: center;
    align-items: center;
  }
}