.Container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 12px;
  text-align: center;
  height: 100vh;
  gap: 20px;
}

.RestaurantCardContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px;
  text-align: center;
  height: 100vh;
  flex-wrap: wrap;
}